* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: monospace;
    background: #002244;

}

header{
    height: 220px;
}

h1 {
    font-size: 100px;
    font-weight: 400;
}

h2 {
    font-size: 50px;
}

h3 {
    height: 100px;
    font-weight: normal;
    font-size: 50px;
}

h4 {
    height: 50px;
    font-size: 30px;
    font-weight: normal;
    gap: 15px;
}
h5 {
    height: 30px;
    font-size: 15px;
    gap: 15px;
    font-weight: normal;
}

.pink {
    color: azure;
    --color1: #ffc9f3;
    --color2: #ff93e7;
    --color3: #ca1f7b;
    --color4: magenta;
    --color5: #b81d70;
}

.green {
    color: #e2fefe;
    --color1: #c7feb1;
    --color2: #a4ff80;
    --color3: #81ff4f;
    --color4: #35ff1e;
    --color5: #00ec04;
}

.neon {
    text-shadow:
            0 0 10px var(--color1),
            0 0 20px var(--color2),
            0 0 40px var(--color3),
            0 0 80px var(--color4),
            0 0 100px var(--color4);
}

nav ul {
    height: 50px;
    display: flex;
    list-style: none;
    gap: 15px;
}

nav ul li a {
    display: flex;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.cadre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    grid-gap: 5px;
}

.gauche {
    grid-column: 1;
    grid-row: 1;
    border-width: 1px;
    border-color: white;
    border-style: dashed;
}

.milieu {grid-column: 2;
    grid-row: 1;
    border-width: 1px;
    border-color: white;
    border-style: dashed;
}

.droite {grid-column: 3;
    grid-row: 1;
    border-width: 1px;
    border-color: white;
    border-style: dashed;

}

p{
    height: 50px;
}

.table{
    display: flex;
    gap: 15px;
    text-align: center;
    justify-content: center;
    height: 200px;
}

input {
    display: flex;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

