<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <title>contact</title>
</head>

<body>

<header>
  <h2 class="neon pink">
    Gaming
  </h2>

  <h1 class="neon green">
    TOURNAMENTS
  </h1>
</header>
<nav>
  <ul>

    <li>
      <a class="nav-link" th:href="@{/}">Accueil</a>
    </li>
    <li >
      <a class="nav-link" th:href="@{/tournament}">Tournois</a>
    </li>
    <li >
      <a class="nav-link" th:href="@{/user}">Mon compte</a>
    </li>
    <li>
      <a class="nav-link" th:href="@{/registration}">Inscription</a>
    </li>
    <li>
      <a class="nav-link" th:href="@{/registration}">Connexion</a>
    </li>
    <li >
      <a class="nav-link" th:href="@{/logout}">Déconnexion</a>
    </li>
    <li >
      <a class="nav-link" th:href="@{/contact}">Contact</a>
    </li>

  </ul>
</nav>

<main>
  <section class="contact" id="contact">

    <div class="container">

      <p>Pour toute question ou support, n'hésitez pas à nous contacter.</p>
    </div>

    <div class="container">
      <p>Formulaire de contact</p>
      <form>

        <textarea  id="fname" type="text" name="firstname" placeholder="Votre nom et prénom"></textarea>


        <textarea  id="sujet" type="text" name="sujet" placeholder="L'objet de votre message"></textarea>


        <textarea id="emailAddress" type="email" name="email" placeholder="Votre email" ></textarea>
      </form>


      <form>
        <textarea id="subject" type="subject" name="subject" placeholder="Votre message" style="height:200px"></textarea>
      </form>

      <form>
        <input type="submit" value="Envoyer">
      </form>
    </div>

  </section>


  <footer>
    <p>2024 Gaming Tournaments. Tous droits réservés.</p>
  </footer>

</main>
</body>
</html>