<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <title>frag</title>
</head>
<body>

<th:block th:fragment="header">
  <header>
    <h2 class="neon pink">
      Gaming
    </h2>

    <h1 class="neon green">
      TOURNAMENTS
    </h1>
  </header>
</th:block>

<th:block th:fragment="navbar(userlog)">
  <nav>
    <ul>

      <li>
        <a class="nav-link" th:href="@{/}">Accueil</a>
      </li>
      <li >
        <a class="nav-link" th:href="@{/tournament}">Tournois</a>
      </li>
      <li >
        <a class="nav-link" th:href="@{/user}">Mon compte</a>
      </li>
      <li>
        <a class="nav-link" th:href="@{/registration}">Inscription</a>
      </li>
      <li th:if="${userlog==null}">
        <a class="nav-link" th:href="@{/login}">Connexion</a>
      </li>
      <li th:if="${userlog!=null}">
        <a class="nav-link" th:href="@{/logout}">Déconnexion</a>
      </li>
      <li >
        <a class="nav-link" th:href="@{/contact}">Contact</a>
      </li>

    </ul>
  </nav>
</th:block>

<th:block th:fragment="footer">
  <footer>
    <p>2024 Gaming Tournaments. Tous droits réservés.</p>
  </footer>
</th:block>

</body>
</html>

