<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Authentification</title>
</head>
<body>

<header>
    <h2 class="neon pink">
        Gaming
    </h2>

    <h1 class="neon green">
        TOURNAMENTS
    </h1>
</header>
<nav>
    <ul>

        <li>
            <a class="nav-link" th:href="@{/}">Accueil</a>
        </li>
        <li >
            <a class="nav-link" th:href="@{/tournament}">Tournois</a>
        </li>
        <li >
            <a class="nav-link" th:href="@{/user}">Mon compte</a>
        </li>
        <li>
            <a class="nav-link" th:href="@{/registration}">Inscription</a>
        </li>
        <li>
            <a class="nav-link" th:href="@{/registration}">Connexion</a>
        </li>
        <li >
            <a class="nav-link" th:href="@{/logout}">Déconnexion</a>
        </li>
        <li >
            <a class="nav-link" th:href="@{/contact}">Contact</a>
        </li>

    </ul>
</nav>




<div class="container">
    <h3 class="color-change">Veuillez vous connectez</h3>
    <form th:action="@{/login}" method="post">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Se connecter</th>
                <th scope="col">Besoin de s inscrire ?</th>
                <th scope="col">Recuperer le password</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" name="email" placeholder="email">
                </td>
                <td>
                    <input type="text" name="password" placeholder="password">
                </td>
                <td>
                    <button type="submit">Se connecter</button>
                </td>
                <td>
                    <a class="btn btn-primary" th:href="@{/registration}">Inscription</a>
                </td>
                <td>
                    <a class="btn btn-primary" th:href="@{/password_Recovery}">Recuperer le password</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>


<footer>
    <p>2024 Gaming Tournaments. Tous droits réservés.</p>
</footer>

</body>
</html>