<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Password Recovery</title>

</head>
<body>

<span th:replace="~{frag :: header}"></span>
<span th:replace="~{frag :: navbar}"></span>

<main>
<form th:action="@{/password_Recovery}" method="post">
    <div class="form-group">
        <label for="email">Entrez votre adresse email :</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre email" required>
    </div>
    <button type="submit" class="btn btn-primary">Récupérer le mot de passe</button>
</form>


<div th:if="${error}">
    <p class="alert alert-danger" th:text="${error}"></p>
</div>

<div class="container" th:if="${user != null}">
    <h3 class="color-change">Vos informations pour l'email : <span th:text="${user.email}"></span></h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</main>
<span th:replace="~{frag :: footer}"></span>


</body>
</html>
