<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Recovery</title>
    <span th:replace="~{frag :: bootstrapImport}"></span>
</head>
<body>

<span th:replace="~{frag :: navbar}"></span>
<span th:replace="~{frag :: footer}"></span>


<form th:action="@{/password_Recovery}" method="post">
    <div class="form-group">
        <label for="email">Entrez votre adresse email :</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre email" required>
    </div>
    <button type="submit" class="btn btn-primary">Récupérer le mot de passe</button>
</form>


<div th:if="${error}">
    <p class="alert alert-danger" th:text="${error}"></p>
</div>

<div class="container" th:if="${user != null}">
    <h1 class="color-change">Vos informations pour l'email : <span th:text="${user.email}"></span></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
