<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Registration</title>

</head>
<body>

<span th:replace="~{frag :: header}"></span>
<span th:replace="~{frag :: navbar}"></span>

<div class="container">
    <h3 class="color-change">Inscription d'un nouvel utilisateur</h3>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <input type="text" id="email" th:field="*{email}" placeholder="Entrez l email">
                </td>
                <td>
                    <input type="text" id="username" th:field="*{username}" placeholder="Entrez votre username">
                </td>
                <td>
                    <input type="text" id="password" th:field="*{password}" placeholder="Entrez votre password">
                </td>
            </tr>
            </tbody>
        </table>
        <p><button type="submit">S'inscrire</button></p>
    </form>
</div>

<span th:replace="~{frag :: footer}"></span>

</body>
</html>