<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Registration</title>

</head>
<body>

<span th:replace="~{frag :: header}"></span>
<span th:replace="~{frag :: navbar(${userlog})}"></span>

<div class="container">
    <h4 class="color-change">Inscription d'un nouvel utilisateur</h4>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <table class="table">
            <tbody>
            <tr>

                <td>
                    <input type="text" id="email" th:field="*{email}" placeholder="Entrez l email" required>
                    <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                </td>
                <td>
                    <input type="text" id="username" th:field="*{username}" placeholder="Entrez votre username" required>
                    <div th:if="${#fields.hasErrors('username')}" class="text-danger" th:each="err : ${#fields.errors('username')}" th:text="${err}"></div>
                </td>
                <td>
                    <input type="text" id="password" th:field="*{password}" placeholder="Entrez votre password" required>
                    <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <p><button type="submit">S'inscrire</button></p>
    </form>
</div>

<span th:replace="~{frag :: footer}"></span>

</body>
</html>