<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>User Profile</title>

</head>
<body>

<header>
    <h2 class="neon pink">
        Gaming
    </h2>

    <h1 class="neon green">
        TOURNAMENTS
    </h1>
</header>
<nav>
    <ul>

        <li>
            <a class="nav-link" th:href="@{/}">Accueil</a>
        </li>
        <li >
            <a class="nav-link" th:href="@{/tournament}">Tournois</a>
        </li>
        <li >
            <a class="nav-link" th:href="@{/user}">Mon compte</a>
        </li>
        <li>
            <a class="nav-link" th:href="@{/registration}">Inscription</a>
        </li>
        <li>
            <a class="nav-link" th:href="@{/registration}">Connexion</a>
        </li>
        <li >
            <a class="nav-link" th:href="@{/logout}">Déconnexion</a>
        </li>
        <li >
            <a class="nav-link" th:href="@{/contact}">Contact</a>
        </li>

    </ul>
</nav>

<div class="container">

    <h3 class="color-change">Votre profil</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Preference</th>
            <th scope="col">Rank</th>
            <th scope="col">Avatar</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getPreference()}"></td>
        <td th:text="${user.getRank()}"></td>
        <td><img th:if="${user.getProfilPic()}" th:src="@{/images/{filename}(filename=${user.profilPic})}"
                 alt="Image de l'user" style="width: 100px; height: auto;"></td>
        </tbody>

    </table>

    <h1 class="color-change">Modifier le profil</h1>
    <form th:action="@{/updateUser}" method="post" th:object="${user}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Préférence</th>
                <th scope="col">Rank</th>
                <th scope="col">Modifier ?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <input type="hidden" th:field="*{id}">
                <td>
                    <input type="text" id="email" th:field="*{email}" placeholder="Entrez votre email" readonly>
                </td>
                <td>
                    <input type="text" id="username" th:field="*{username}" placeholder="Entrez votre username">
                </td>
                <td>
                    <input type="text" id="password" th:field="*{password}" placeholder="Entrez votre password">
                </td>
                <td>
                    <input type="text" id="preference" th:field="*{preference}" placeholder="Entrez votre préférence">
                </td>
                <td>
                    <select id="rank" th:field="*{rank}">
                        <option th:each="rank : ${T(org.project.gestiontournoisjeuxvideo.util.Rank).values()}"
                                th:value="${rank}"
                                th:text="${rank}"></option>
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <table class="table">
        <form method="post" th:action="@{/upload}" enctype="multipart/form-data">

            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Valider ?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <input type="hidden" th:field="*{user.id}">
                <td>
                    <input type="file" name="image">
                </td>
                <td>
                    <button type="submit">Mettre une nouvelle image</button>
                </td>

            </tr>
            </tbody>
        </form>
    </table>
</div>

<footer>
    <p>2024 Gaming Tournaments. Tous droits réservés.</p>
</footer>

</body>
</html>
