<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>

<span th:replace="~{frag :: header}"></span>
<span th:replace="~{frag :: navbar(${userlog})}"></span>

<div class="container">

    <h4 class="color-change">Mon profil</h4>
      <div class="cadre">
        <div class="gauche" th:text="${user.getRank()}"></div>
        <div class="milieu" th:text="${user.getUsername()}"></div>
        <div class="droite" th:text="${user.getPreference()}"></div>
    </div>
    <img th:if="${user.getProfilPic()}" th:src="@{/images/{filename}(filename=${user.profilPic})}"
         alt="Image de l'user" style="width: 100px; height: auto;">

<p></p>
    <h4 class="color-change">Modifier le profil</h4>
    <form th:action="@{/updateUser}" method="post" th:object="${user}">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p>Veuillez corriger les erreurs suivantes :</p>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <input type="hidden" th:field="*{id}">

        <div>
            <b>Modifiez votre username</b>
            <input type="text" th:field="*{username}" id="username" required>
            <div th:if="${#fields.hasErrors('username')}" class="text-danger"
                 th:each="err : ${#fields.errors('username')}" th:text="${err}"></div>
        </div>

        <div>
            <b>Modifiez votre password</b>
            <input type="text" th:field="*{password}" id="password" required>
            <div th:if="${#fields.hasErrors('password')}" class="text-danger"
                 th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
        </div>
        <div>
            <b>Modifiez vos préférences</b>
            <input type="text" th:field="*{preference}" id="preference">

        </div>
        <b>Modifiez votre rang</b>
        <div>
            <select id="rank" th:field="*{rank}">
                <option th:each="rank : ${T(org.project.gestiontournoisjeuxvideo.util.Rank).values()}"
                        th:value="${rank}"
                        th:text="${rank}"></option>
            </select>
        </div>
        <br>
        <p>
            <button type="submit" class="btn btn-primary">Valider les modifications</button>
        </p>

    </form>

    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
        <h4>Modifier mon image de profil</h4>
        <input type="hidden" th:field="*{user.id}">
        <input type="file" name="image">
        <br>
        <button type="submit">Valider</button>
    </form>


</div>
<span th:replace="~{frag :: footer}"></span>

</body>
</html>
